<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pomodoroapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PomodoroApp">
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuotesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScheduleYourDayActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MyProfile_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.LeaderBoardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Notifications_Activity"
            android:exported="true" />
        <activity
            android:name=".activity.TimerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Onboarding_Main"
            android:exported="true" />
        <activity
            android:name=".activity.WeeklyProgress"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <receiver android:name=".util.TaskAlarmReceiver" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>